<div>
  <div>
    <% if (coverPhoto) { %>
      <img class="img-cover" src=<%= coverPhoto %>>
    <% } else { %>
      <img class="img-cover img-invisible" src="">
    <% } %>
  </div>
  <div id="thumb-bar">
    <img id="img-remove" class="img-thumb" src="">
    <% for (thumb of thumbs) { %>
      <img class="img-thumb" src=<%= thumb %>>
    <% } %>
  </div>
</div>

<div class="container">
  <h1 class="page-header">Edit</h1>
  <% if (parentItem == null) { %>
    <% action = "/reminder/update/" + reminderItem.id + "/0" %>
  <% } else { %>
    <% action = "/reminder/update/" + parentItem.id + "/" + reminderItem.id %>
  <% } %>
  <form action=<%= action %> method="POST">
    <div class="form-group">
      <input type="text" name="cover" class="form-control" id="cover" value="<%= reminderItem.cover %>" hidden>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= reminderItem.description %></textarea>
    </div>
    <div class="form-group">
      <label for="date">date</label>
      <input type="date" name="date" class="form-control" id="dateinput" value="<%= reminderItem.date %>">
    </div>
    <% if (parentItem == null) { %>
    <div class="form-group">
      <label for="subtasks">Subtasks</label>
      <ul class="list-group">
        <% if (reminderItem.subtasks) { %>
          <% for (task of reminderItem.subtasks) { %>
            <li class="list-group-item">
              <a href=<%= "/reminder/edit/" + reminderItem.id + "/" + task.id %>>
                <%= task.title %> | <%= task.description %>
              </a>
            </li>
          <% } %>
          <li class="list-group-item">
            <a href=<%= "/reminder/newSub/" + reminderItem.id %>>
              + Add a subtask</a>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type="text" name="tags" class="form-control" id="tagsInput" value=<%= reminderItem.tags %>>
      <p><small>Seperate each tag with a comma</small></p>
    </div>
    <% } %>
    <div class="form-group">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>

<script>
  const divThumb = document.querySelector('#thumb-bar')
  divThumb.addEventListener("click", function (e) {
    e.stopPropagation()

    const imgCover = document.querySelector(".img-cover")
    const inputCover = document.querySelector("#cover")

    if (e.target === document.querySelector("#img-remove")) {
      imgCover.classList.add("img-invisible")
      imgCover.src = ""
      inputCover.value = ""
    } else {
      if (imgCover.classList.length != 1) {
        imgCover.classList.remove("img-invisible")
      }
      imgCover.src = e.target.src
      inputCover.value = e.target.src
    }
  })

</script>