<div class="container">
  <h1 class="page-header">Reminders</h1>

  <ul class="list-group">
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <p>
        <strong><%= reminderItem.title %>: </strong>
        <%= reminderItem.description %>
        <% if (reminderItem.date) { %>
        || <%= reminderItem.date %>
        <% } %>
        || Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span>
        <% } %>
        <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
        <p>
          <% for (tag of reminderItem.tags) { %>
            <% if (tag.trim()) { %>
              <span class="tag-view"><%= tag %></span>
            <% } %>
          <% } %>
        </p>
      </li>
    <% }) %>
    <li class="list-group-item">
      <a href="/reminder/new/">
        + Add a reminder</a>
    </li>
  </ul>

  <br>
  <br>

  <h2>Friend Reminders</h2>

  <ul class="list-group">
    <% groupReminders.forEach(function (friendReminders) { %>
      <% friendReminders.forEach(function (friendItem) { %>
      <li class="list-group-item">
        <p>
          <strong><%= friendItem.title %>: </strong>
          <%= friendItem.description %>
          <% if (friendItem.date) { %>
            || <%= friendItem.date %>
            <% } %>
          || Completed:
          <% if (friendItem.completed == true) { %>
            <span class="badge badge-success">True</span>
          <% } else if (friendItem.completed == false) { %>
            <span class="badge badge-danger">False</span>
          <% } %>
        </p>
        <p>
          <% for (tag of friendItem.tags) { %>
            <% if (tag.trim()) { %>
              <span class="tag-view"><%= tag %></span>
            <% } %>
          <% } %>
        </p>
      </li>

      <% }) %>
    <% }) %>
  </ul>

  <br>
  <br>
  <br>
  <br>


  <table style="width:100%; background:#E3FDFA; border: 1px solid #C5B798; margin-top: 15px; margin-bottom: 25px">
    <tr>
       <th style = "font-size: 20px";>City </th><th style = "font-size: 20px">Weather</th><th style = "font-size: 20px">Description</th><th style = "font-size: 20px">Temperture</th>
    </tr>
     <tr>
       <td><%=weatherJSON.name%></td>
       <td><%=weatherJSON.weather[0].main  %></td>
       <td><%=weatherJSON.weather[0].description%></td>
       <td><%= Math.round(weatherJSON.main.temp-273.15)%> °C </td> 
     </tr>    
 </table>
</div>
