<% if (reminderItem.cover) { %>
  <img class="img-cover" src=<%= reminderItem.cover %>>
<% } %>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <% if (parentItem !== null) { %>
          <h3><a href=<%= "/reminder/" + parentItem.id %>><%= parentItem.title %></a> > </h3>
        <% } %>
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <h4>Date: <%= reminderItem.date %></h4>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>
        
        <!-- if the remider is not a subtask, show the subtasks -->
        <% if (parentItem == null) { %>
          <h4>Subtasks</h4>
          <% if (reminderItem.subtasks) { %>
            <ul class="list-group">
              <% for (task of reminderItem.subtasks) { %>
                  <li class="list-group-item">
                    <a href=<%= "/reminder/" + reminderItem.id + "/" + task.id %>><%= task.title %></a> | <%= task.description %>  
                    <% if (task.completed) { %>
                      (Completed)
                    <% } %>
                  </li>
              <% } %>
              </ul>
          <% } %>

          <h4>Tags</h4>
          <p>
            <% for (tag of reminderItem.tags) { %>
                <span class="tag-view"><%= tag %></span>
            <% } %>
          </p>

        <% } %>

        <% if (parentItem == null) { %>
          <a class="btn btn-warning" href=<%= "/reminder/edit/" + reminderItem.id  + "/0" %>>Edit</a>
        <% } else { %>
          <a class="btn btn-warning" href=<%= "/reminder/edit/" + parentItem.id + "/" + reminderItem.id %>>Edit</a>
          <% param = "?id=" + parentItem.id + "&subid=" + reminderItem.id %>
        <% } %>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>
