<% if (oneReminder.cover) { %>
  <img class="img-cover" src=<%= oneReminder.cover %>>
<% } %>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <% if (parentItem !== null) { %>
          <h3><a href=<%= "/reminder/" + parentItem.reminder_id %>><%= parentItem.title %></a> > </h3>
        <% } %>
        <h3><strong><%= oneReminder.title %>: </strong></h3>
        <h4><%= oneReminder.description %></h4>
        <h4>Date: <%= oneReminder.due_date %></h4>
        <h4>Completed:
          <% if (oneReminder.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (oneReminder.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>
        
        <!-- if the remider is not a subtask, show the subtasks -->
        <% if (parentItem == null) { %>
          <% if (subtasks.join("")) { %>
            <h4>Subtasks</h4>
            <% if (subtasks) { %>
              <ul class="list-group">
                <% for (task of subtasks) { %>
                    <li class="list-group-item">
                      <a href=<%= "/reminder/" + oneReminder.reminder_id + "/" + task.reminder_id %>><%= task.title %></a> | <%= task.description %>
                      <% if (task.date) { %>
                        | <%= task.date %>
                      <% } %>
                      <% if (task.completed) { %>
                        (Completed)
                      <% } %>
                    </li>
                <% } %>
                </ul>
            <% } %>
          <% } %>
          
          <% if (oneReminder.tags) { %>
            <h4>Tags</h4>
            <p>
            <% for (tag of oneReminder.tags.split(',')) { %>
              <% if (tag.trim()) { %>
                <span class="tag-view"><%= tag %></span>
              <% } %>
            <% } %>
            </p>
          <% } %>
          

        <% } %>

        <% if (parentItem == null) { %>
          <a class="btn btn-warning" href=<%= "/reminder/edit/" + oneReminder.reminder_id  + "/0" %>>Edit</a>
        <% } else { %>
          <a class="btn btn-warning" href=<%= "/reminder/edit/" + parentItem.reminder_id + "/" + oneReminder.reminder_id %>>Edit</a>
          <% param = "?id=" + parentItem.reminder_id + "&subid=" + oneReminder.reminder_id %>
        <% } %>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + oneReminder.reminder_id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>
